@import "null.css";
/* &display=swap */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #424551;
  text-align: left;
  line-height: 1.62;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.recruiting {
  width: 810px;
  margin: 100px auto;
}

.name {
  margin-bottom: 92px;
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
}

.photo {
  margin-bottom: 60px;
}

.preamble {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.name,
.preamble,
.cite {
  color: #1e212c;
}

.text {
  margin-bottom: 27px;
}

.info {
  padding-left: 32px;
}

.cite {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-left: 58px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.features {
  margin-bottom: 24px;
}
